@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* fontawesome */
    .icon::before {
        display: inline-block;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
    }

    @media print {
		.dontprint {
			display: none;
		}
        .dontprint.badge { @apply bg-blue-100 text-blue-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-full dark:bg-blue-900 dark:text-blue-300 }
	}
    #preamble { @apply text-slate-950 dark:text-slate-300 }

    nav#nav ~ div#main-link { @apply font-semibold }
    nav#nav ul { @apply list-none max-w-xs justify-center flex }
    nav#nav ul li { @apply mx-2 border-b border-solid text-xl font-serif font-semibold }

    nav#breadcrumb { @apply flex m-2 }
    nav#breadcrumb ol#breadcrumb-list { @apply inline-flex items-center space-x-1 md:space-x-3 }
    nav#breadcrumb ol#breadcrumb-list li { @apply inline-flex items-center }
    nav#breadcrumb ol#breadcrumb-list li > a { @apply inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white }

	body { @apply m-0 p-0 border-0 bg-gradient-to-bl from-purple-50 dark:bg-gradient-to-br dark:from-slate-950 dark:to-purple-600 }

	#content { @apply max-w-screen-xl m-auto pt-20 text-slate-950 dark:text-slate-300 }
    #content p { @apply my-3 }
	h1 { @apply font-serif text-6xl font-extrabold }
	h2 { @apply font-serif text-5xl font-bold }
	h3 { @apply font-serif text-4xl font-bold }
	h4 { @apply font-serif text-3xl font-bold }
	h5 { @apply font-serif text-2xl font-bold }
	h6 { @apply font-serif text-xl font-bold }
	ul { @apply font-serif list-disc }
    ul#tabs { @apply font-serif }
	ol { @apply list-decimal }
    #footer { @apply rounded-lg shadow m-4 text-slate-950 dark:text-slate-300 }
    #footer div#leftside { @apply w-full mx-auto max-w-screen-xl p-4 mb-0 pb-0 md:flex md:items-center md:justify-between }
    #footer div#leftside span { @apply text-sm sm:text-center }
    #footer div#leftside span a { @apply hover:underline text-xs }
    #footer div#leftside p + a { @apply hover:underline text-xs }
    #footer div#leftside ul { @apply flex flex-wrap items-center mt-3 text-sm font-medium sm:mt-0 list-none }
    #footer div#leftside ul li a { @apply mr-4 hover:underline md:mr-6 }
    #footer div#bottom { @apply w-full mx-auto max-w-screen-xl p-4 mb-0 pb-0 border-t border-slate-700 dark:border-slate-200 }
    #footer div#bottom p { @apply pt-0 mt-0 pt-0 text-xs }
	.outline-2, .outline-3, outline-4, outline-5 { @apply p-2 m-2 }
	.org-ul, org-ol { @apply list-inside }
	table { @apply text-sm text-left border-collapse}
    table thead > tr > th { @apply border border-slate-600 }
	/* table thead ( @apply text-xs uppercase text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400 ) */
	/* table thead tr > th { @apply px-6 py-3 } */
	table tbody > tr { @apply border-b border-slate-700 }
	table tbody > tr th { @apply px-6 py-4 font-medium whitespace-nowrap }
	table tbody > tr td { @apply px-6 py-4 border border-slate-700 }
	.title { @apply text-center mb-1 font-extrabold leading-none tracking-tight }
	.subtitle { @apply text-center text-base font-semibold mt-0 }
	.priority { @apply font-mono text-orange-600 }
    span.tag span.killed { @apply bg-green-100 text-green-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-full dark:bg-green-900 dark:text-green-300 }
    span.tag span.Archives { @apply bg-yellow-100 text-yellow-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-full dark:bg-yellow-900 dark:text-yellow-300 }
    span.tag span.links { @apply bg-indigo-100 text-indigo-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-full dark:bg-indigo-900 dark:text-indigo-300}
    span.tag span.reading { @apply bg-purple-100 text-purple-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-full dark:bg-purple-900 dark:text-purple-300 }
    span.tag span.personal { @apply bg-blue-100 text-blue-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-full dark:bg-blue-900 dark:text-blue-300 }
    span.tag span.project { @apply bg-gray-100 text-gray-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-full dark:bg-gray-700 dark:text-gray-300 }
    span.tag span.followup { @apply bg-red-100 text-red-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-full dark:bg-red-900 dark:text-red-300 }
    span.tag span.work { @apply bg-pink-100 text-pink-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-full dark:bg-pink-900 dark:text-pink-300 }
	/* .tag    { @apply bg-slate-300 font-mono p-0.5 text-sm font-normal } */
	.timestamp { @apply font-serif text-xs}
	.timestamp-kwd { @apply text-sky-500 }
	.org-right  { @apply ml-auto mr-0 text-right }
	.org-left   { @apply ml-0 mr-auto text-left }
	.org-center { @apply ml-auto mr-auto text-center }
	#postamble p { @apply text-base m-1 text-center }
	#preamble p { @apply text-base m-1 }
	p.verse { @apply ml-px }
	pre { @apply border rounded border-solid border-slate-300 p-2.5 font-mono overflow-auto m-5 }
	pre.src { @apply relative overflow-auto bg-gray-950 text-slate-200 }
	pre.src:before { @apply hidden absolute -top-2 right-3 p-3 text-slate-400 bg-slate-50 }
	pre.src:hover:before { @apply inline mt-3.5}
	/* Languages per Org manual */
	pre.src-asymptote:before { content: 'Asymptote'; }
	pre.src-awk:before { content: 'Awk'; }
	pre.src-authinfo::before { content: 'Authinfo'; }
	pre.src-C:before { content: 'C'; }
	/* pre.src-C++ doesn't work in CSS */
	pre.src-clojure:before { content: 'Clojure'; }
	pre.src-css:before { content: 'CSS'; }
	pre.src-D:before { content: 'D'; }
	pre.src-ditaa:before { content: 'ditaa'; }
	pre.src-dot:before { content: 'Graphviz'; }
	pre.src-calc:before { content: 'Emacs Calc'; }
    pre.src-emacs-lisp { @apply before:content-['Emacs-lisp'] relative }
    pre.src-emacs-lisp:before { @apply bg-indigo-100 text-indigo-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-indigo-900 dark:text-indigo-300 absolute bottom-0 right-20 h-6 w-auto}
	pre.src-rust { @apply before:content-['Rust'] }
    pre.src-rust:before { @apply bg-green-100 text-green-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300 absolute bottom-0 right-20 h-6 w-auto }
	/* pre.src-emacs-lisp:before { content: 'Emacs Lisp'; } */
	pre.src-fortran:before { content: 'Fortran'; }
	pre.src-gnuplot:before { content: 'gnuplot'; }
	pre.src-haskell:before { content: 'Haskell'; }
	pre.src-hledger:before { content: 'hledger'; }
	pre.src-java:before { content: 'Java'; }
	pre.src-js:before { content: 'Javascript'; }
	pre.src-latex:before { content: 'LaTeX'; }
	pre.src-ledger:before { content: 'Ledger'; }
	pre.src-lisp:before { content: 'Lisp'; }
	pre.src-lilypond:before { content: 'Lilypond'; }
	pre.src-lua:before { content: 'Lua'; }
	pre.src-matlab:before { content: 'MATLAB'; }
	pre.src-mscgen:before { content: 'Mscgen'; }
	pre.src-ocaml:before { content: 'Objective Caml'; }
	pre.src-octave:before { content: 'Octave'; }
	pre.src-org:before { content: 'Org mode'; }
	pre.src-oz:before { content: 'OZ'; }
	pre.src-plantuml:before { content: 'Plantuml'; }
	pre.src-processing:before { content: 'Processing.js'; }
	pre.src-python:before { content: 'Python'; }
	pre.src-R:before { content: 'R'; }
	pre.src-ruby:before { content: 'Ruby'; }
	pre.src-sass:before { content: 'Sass'; }
	pre.src-scheme:before { content: 'Scheme'; }
	pre.src-screen:before { content: 'Gnu Screen'; }
	pre.src-sed:before { content: 'Sed'; }
	pre.src-sh:before { content: 'shell'; }
	pre.src-sql:before { content: 'SQL'; }
	pre.src-sqlite:before { content: 'SQLite'; }
	/* additional languages in org.el's org-babel-load-languages alist */
	pre.src-forth:before { content: 'Forth'; }
	pre.src-io:before { content: 'IO'; }
	pre.src-J:before { content: 'J'; }
	pre.src-makefile:before { content: 'Makefile'; }
	pre.src-maxima:before { content: 'Maxima'; }
	pre.src-perl:before { content: 'Perl'; }
	pre.src-picolisp:before { content: 'Pico Lisp'; }
	pre.src-scala:before { content: 'Scala'; }
	pre.src-shell:before { content: 'Shell Script'; }
	pre.src-ebnf2ps:before { content: 'ebfn2ps'; }
	/* additional language identifiers per "defun org-babel-execute"
       in ob-*.el */
	pre.src-cpp:before  { content: 'C++'; }
	pre.src-abc:before  { content: 'ABC'; }
	pre.src-coq:before  { content: 'Coq'; }
	pre.src-groovy:before  { content: 'Groovy'; }
	/* additional language identifiers from org-babel-shell-names in
     ob-shell.el: ob-shell is the only babel language using a lambda to put
     the execution function name together. */
	pre.src-bash:before  { content: 'bash'; }
	pre.src-csh:before  { content: 'csh'; }
	pre.src-ash:before  { content: 'ash'; }
	pre.src-dash:before  { content: 'dash'; }
	pre.src-ksh:before  { content: 'ksh'; }
	pre.src-mksh:before  { content: 'mksh'; }
	pre.src-posh:before  { content: 'posh'; }
	/* Additional Emacs modes also supported by the LaTeX listings package */
	pre.src-ada:before { content: 'Ada'; }
	pre.src-asm:before { content: 'Assembler'; }
	pre.src-caml:before { content: 'Caml'; }
	pre.src-delphi:before { content: 'Delphi'; }
	pre.src-html:before { content: 'HTML'; }
	pre.src-idl:before { content: 'IDL'; }
	pre.src-mercury:before { content: 'Mercury'; }
	pre.src-metapost:before { content: 'MetaPost'; }
	pre.src-modula-2:before { content: 'Modula-2'; }
	pre.src-pascal:before { content: 'Pascal'; }
	pre.src-ps:before { content: 'PostScript'; }
	pre.src-prolog:before { content: 'Prolog'; }
	pre.src-simula:before { content: 'Simula'; }
	pre.src-tcl:before { content: 'tcl'; }
	pre.src-tex:before { content: 'TeX'; }
	pre.src-plain-tex:before { content: 'Plain TeX'; }
	pre.src-verilog:before { content: 'Verilog'; }
	pre.src-vhdl:before { content: 'VHDL'; }
	pre.src-xml:before { content: 'XML'; }
	pre.src-nxml:before { content: 'XML'; }
	/* add a generic configuration mode; LaTeX export needs an additional
     (add-to-list 'org-latex-listings-langs '(conf " ")) in .emacs */
	pre.src-conf:before { content: 'Configuration File'; }

	/* table { border-collapse:collapse; } */
	caption.t-above { caption-side: top; }
	caption.t-bottom { caption-side: bottom; }
	td, th { vertical-align:top;  }
	th.org-right  { @apply text-center  }
	th.org-left   { text-align: center;   }
	th.org-center { text-align: center; }
	td.org-right  { text-align: right;  }
	td.org-left   { text-align: left;   }
	td.org-center { text-align: center; }
	dt { font-weight: bold; }
	.footpara { display: inline; }
	.footdef  { margin-bottom: 1em; }
	.figure { padding: 1em; }
	.figure p { text-align: center; }
	.equation-container {
		display: table;
		text-align: center;
		width: 100%;
	}
	.equation {
		vertical-align: middle;
	}
	.equation-label {
		display: table-cell;
		text-align: right;
		vertical-align: middle;
	}
	.inlinetask {
		padding: 10px;
		border: 2px solid gray;
		margin: 10px;
		background: #ffffcc;
	}
	#org-div-home-and-up
   { text-align: right; font-size: 70%; white-space: nowrap; }
	textarea { overflow-x: auto; }
	.linenr { font-size: smaller }
	.code-highlighted { background-color: #ffff00; }
	.org-info-js_info-navigation { border-style: none; }
	#org-info-js_console-label
    { font-size: 10px; font-weight: bold; white-space: nowrap; }
	.org-info-js_search-highlight
	{ background-color: #ffff00; color: #000000; font-weight: bold; }
	.org-svg { }
	.snippet-copy-to-clipboard { @apply hidden absolute right-2.5 top-1.5 }
    /* .span.snippet-copy-to-clipboard { @apply  } */
	.copy-to-clipboard-button { @apply bg-purple-100 text-purple-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-purple-900 dark:text-purple-300 hover:cursor-pointer }

    .org-src-container { @apply relative }
	li.checked { @apply list-image-[url(../img/checked.png)] }
	li.halfchecked { @apply list-image-[url(../img/halfchecked.png)] }
	li.unchecked { @apply list-image-[url(../img/unchecked.png)] }

		.org-bold { /* bold */ font-weight: bold; }
		.org-bold-italic { /* bold-italic */ font-weight: bold; font-style: italic; }
		.org-buffer-menu-buffer { /* buffer-menu-buffer */ font-weight: bold; }
		.org-builtin { /* font-lock-builtin-face */ color: #7a378b; }
		.org-button { /* button */ text-decoration: underline; }
		.org-calendar-today { /* calendar-today */ text-decoration: underline; }
		.org-change-log-acknowledgement { /* change-log-acknowledgement */ color: #b22222; }
		.org-change-log-conditionals { /* change-log-conditionals */ color: #a0522d; }
		.org-change-log-date { /* change-log-date */ color: #8b2252; }
		.org-change-log-email { /* change-log-email */ color: #a0522d; }
		.org-change-log-file { /* change-log-file */ color: #0000ff; }
		.org-change-log-function { /* change-log-function */ color: #a0522d; }
		.org-change-log-list { /* change-log-list */ color: #a020f0; }
		.org-change-log-name { /* change-log-name */ color: #008b8b; }
		.org-comint-highlight-input { /* comint-highlight-input */ font-weight: bold; }
		.org-comint-highlight-prompt { /* comint-highlight-prompt */ color: #00008b; }
		.org-comment { /* font-lock-comment-face */ color: #b22222; }
		.org-comment-delimiter { /* font-lock-comment-delimiter-face */ color: #b22222; }
		.org-completions-annotations { /* completions-annotations */ font-style: italic; }
		.org-completions-common-part { /* completions-common-part */ color: #000000; background-color: #ffffff; }
		.org-completions-first-difference { /* completions-first-difference */ font-weight: bold; }
		.org-constant { /* font-lock-constant-face */ color: #008b8b; }
		.org-diary { /* diary */ color: #ff0000; }
		.org-diff-context { /* diff-context */ color: #7f7f7f; }
		.org-diff-file-header { /* diff-file-header */ background-color: #b3b3b3; font-weight: bold; }
		.org-diff-function { /* diff-function */ background-color: #cccccc; }
		.org-diff-header { /* diff-header */ background-color: #cccccc; }
		.org-diff-hunk-header { /* diff-hunk-header */ background-color: #cccccc; }
		.org-diff-index { /* diff-index */ background-color: #b3b3b3; font-weight: bold; }
		.org-diff-nonexistent { /* diff-nonexistent */ background-color: #b3b3b3; font-weight: bold; }
		.org-diff-refine-change { /* diff-refine-change */ background-color: #d9d9d9; }
		.org-dired-directory { /* dired-directory */ color: #0000ff; }
		.org-dired-flagged { /* dired-flagged */ color: #ff0000; font-weight: bold; }
		.org-dired-header { /* dired-header */ color: #228b22; }
		.org-dired-ignored { /* dired-ignored */ color: #7f7f7f; }
		.org-dired-mark { /* dired-mark */ color: #008b8b; }
		.org-dired-marked { /* dired-marked */ color: #ff0000; font-weight: bold; }
		.org-dired-perm-write { /* dired-perm-write */ color: #b22222; }
		.org-dired-symlink { /* dired-symlink */ color: #a020f0; }
		.org-dired-warning { /* dired-warning */ color: #ff0000; font-weight: bold; }
		.org-doc { /* font-lock-doc-face */ color: #8b2252; }
		.org-escape-glyph { /* escape-glyph */ color: #a52a2a; }
		.org-file-name-shadow { /* file-name-shadow */ color: #7f7f7f; }
		.org-flyspell-duplicate { /* flyspell-duplicate */ color: #cdad00; font-weight: bold; text-decoration: underline; }
		.org-flyspell-incorrect { /* flyspell-incorrect */ color: #ff4500; font-weight: bold; text-decoration: underline; }
		.org-fringe { /* fringe */ background-color: #f2f2f2; }
		.org-function-name { /* font-lock-function-name-face */ color: #0000ff; }
		.org-header-line { /* header-line */ color: #333333; background-color: #e5e5e5; }
		.org-help-argument-name { /* help-argument-name */ font-style: italic; }
		.org-highlight { /* highlight */ background-color: #b4eeb4; }
		.org-holiday { /* holiday */ background-color: #ffc0cb; }
		.org-isearch { /* isearch */ color: #b0e2ff; background-color: #cd00cd; }
		.org-isearch-fail { /* isearch-fail */ background-color: #ffc1c1; }
		.org-italic { /* italic */ font-style: italic; }
		.org-keyword { /* font-lock-keyword-face */ color: #a020f0; }
		.org-lazy-highlight { /* lazy-highlight */ background-color: #afeeee; }
		.org-link { /* link */ color: #0000ff; text-decoration: underline; }
		.org-link-visited { /* link-visited */ color: #8b008b; text-decoration: underline; }
		.org-log-edit-header { /* log-edit-header */ color: #a020f0; }
		.org-log-edit-summary { /* log-edit-summary */ color: #0000ff; }
		.org-log-edit-unknown-header { /* log-edit-unknown-header */ color: #b22222; }
		.org-match { /* match */ background-color: #ffff00; }
		.org-next-error { /* next-error */ background-color: #eedc82; }
		.org-nobreak-space { /* nobreak-space */ color: #a52a2a; text-decoration: underline; }
		.org-org-archived { /* org-archived */ color: #7f7f7f; }
		.org-org-block { /* org-block */ color: #7f7f7f; }
		.org-org-block-begin-line { /* org-block-begin-line */ color: #b22222; }
		.org-org-block-end-line { /* org-block-end-line */ color: #b22222; }
		.org-org-checkbox { /* org-checkbox */ font-weight: bold; }
		.org-org-checkbox-statistics-done { /* org-checkbox-statistics-done */ color: #228b22; font-weight: bold; }
		.org-org-checkbox-statistics-todo { /* org-checkbox-statistics-todo */ color: #ff0000; font-weight: bold; }
		.org-org-clock-overlay { /* org-clock-overlay */ background-color: #ffff00; }
		.org-org-code { /* org-code */ color: #7f7f7f; }
		.org-org-column { /* org-column */ background-color: #e5e5e5; }
		.org-org-column-title { /* org-column-title */ background-color: #e5e5e5; font-weight: bold; text-decoration: underline; }
		.org-org-date { /* org-date */ color: #a020f0; text-decoration: underline; }
		.org-org-document-info { /* org-document-info */ color: #191970; }
		.org-org-document-info-keyword { /* org-document-info-keyword */ color: #7f7f7f; }
		.org-org-document-title { /* org-document-title */ color: #191970; font-size: 144%; font-weight: bold; }
		.org-org-done { /* org-done */ color: #228b22; font-weight: bold; }
		.org-org-drawer { /* org-drawer */ color: #0000ff; }
		.org-org-ellipsis { /* org-ellipsis */ color: #b8860b; text-decoration: underline; }
		.org-org-footnote { /* org-footnote */ color: #a020f0; text-decoration: underline; }
		.org-org-formula { /* org-formula */ color: #b22222; }
		.org-org-headline-done { /* org-headline-done */ color: #bc8f8f; }
		.org-org-hide { /* org-hide */ color: #ffffff; }
		.org-org-latex-and-export-specials { /* org-latex-and-export-specials */ color: #8b4513; }
		.org-org-level-1 { /* org-level-1 */ color: #0000ff; }
		.org-org-level-2 { /* org-level-2 */ color: #a0522d; }
		.org-org-level-3 { /* org-level-3 */ color: #a020f0; }
		.org-org-level-4 { /* org-level-4 */ color: #b22222; }
		.org-org-level-5 { /* org-level-5 */ color: #228b22; }
		.org-org-level-6 { /* org-level-6 */ color: #008b8b; }
		.org-org-level-7 { /* org-level-7 */ color: #7a378b; }
		.org-org-level-8 { /* org-level-8 */ color: #8b2252; }
		.org-org-link { /* org-link */ color: #0000ff; text-decoration: underline; }
		.org-org-meta-line { /* org-meta-line */ color: #b22222; }
		.org-org-mode-line-clock { /* org-mode-line-clock */ color: #000000; background-color: #bfbfbf; }
		.org-org-mode-line-clock-overrun { /* org-mode-line-clock-overrun */ color: #000000; background-color: #ff0000; }
		.org-org-quote { /* org-quote */ color: #7f7f7f; }
		.org-org-scheduled { /* org-scheduled */ color: #006400; }
		.org-org-scheduled-previously { /* org-scheduled-previously */ color: #b22222; }
		.org-org-scheduled-today { /* org-scheduled-today */ color: #006400; }
		.org-org-sexp-date { /* org-sexp-date */ color: #a020f0; }
		.org-org-special-keyword { /* org-special-keyword */ color: #a020f0; }
		.org-org-table { /* org-table */ color: #0000ff; }
		.org-org-tag { /* org-tag */ font-weight: bold; }
		.org-org-target { /* org-target */ text-decoration: underline; }
		.org-org-time-grid { /* org-time-grid */ color: #b8860b; }
		.org-org-todo { /* org-todo */ color: #ff0000; font-weight: bold; }
		.org-org-upcoming-deadline { /* org-upcoming-deadline */ color: #b22222; }
		.org-org-verbatim { /* org-verbatim */ color: #7f7f7f; }
		.org-org-verse { /* org-verse */ color: #7f7f7f; }
		.org-org-warning { /* org-warning */ color: #ff0000; font-weight: bold; }
		.org-outline-1 { /* outline-1 */ color: #0000ff; }
		.org-outline-2 { /* outline-2 */ color: #a0522d; }
		.org-outline-3 { /* outline-3 */ color: #a020f0; }
		.org-outline-4 { /* outline-4 */ color: #b22222; }
		.org-outline-5 { /* outline-5 */ color: #228b22; }
		.org-outline-6 { /* outline-6 */ color: #008b8b; }
		.org-outline-7 { /* outline-7 */ color: #7a378b; }
		.org-outline-8 { /* outline-8 */ color: #8b2252; }
		.org-preprocessor { /* font-lock-preprocessor-face */ color: #7a378b; }
		.org-query-replace { /* query-replace */ color: #b0e2ff; background-color: #cd00cd; }
		.org-regexp-grouping-backslash { /* font-lock-regexp-grouping-backslash */ font-weight: bold; }
		.org-regexp-grouping-construct { /* font-lock-regexp-grouping-construct */ font-weight: bold; }
		.org-region { /* region */ background-color: #eedc82; }
		.org-secondary-selection { /* secondary-selection */ background-color: #ffff00; }
		.org-shadow { /* shadow */ color: #7f7f7f; }
		.org-show-paren-match { /* show-paren-match */ background-color: #40e0d0; }
		.org-show-paren-mismatch { /* show-paren-mismatch */ color: #ffffff; background-color: #a020f0; }
		.org-string { /* font-lock-string-face */ color: #8b2252; }
		.org-tool-bar { /* tool-bar */ color: #000000; background-color: #bfbfbf; }
		.org-tooltip { /* tooltip */ color: #000000; background-color: #ffffe0; }
		.org-trailing-whitespace { /* trailing-whitespace */ background-color: #ff0000; }
		.org-type { /* font-lock-type-face */ color: #228b22; }
		.org-underline { /* underline */ text-decoration: underline; }
		.org-variable-name { /* font-lock-variable-name-face */ color: #a0522d; }
		.org-warning { /* font-lock-warning-face */ color: #ff0000; font-weight: bold; }
		.org-widget-button { /* widget-button */ font-weight: bold; }
		.org-widget-button-pressed { /* widget-button-pressed */ color: #ff0000; }
		.org-widget-documentation { /* widget-documentation */ color: #006400; }
		.org-widget-field { /* widget-field */ background-color: #d9d9d9; }
		.org-widget-inactive { /* widget-inactive */ color: #7f7f7f; }
		.org-widget-single-line-field { /* widget-single-line-field */ background-color: #d9d9d9; }

        #toTop { @apply bg-blue-100 text-blue-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-full dark:bg-blue-900 dark:text-blue-300 z-[999] top-2.5 cursor-pointer text-center right-2.5 p-[5px] fixed w-28 font-['verdana'] text-xs}
		/* #toTop { */
		/* 	background: #F7F7F7; */
		/* 	border: 1px solid #CCCCCC; */
		/* 	top: 10px;                          /\* together with this to put the div at the top *\/ */
		/* 	color: #333333; */
		/* 	cursor: pointer; */
		/* 	display: none; */
		/* 	font-family: verdana; */
		/* 	font-size: 11px; */
		/* 	padding: 5px; */
		/* 	position: fixed;                    /\* this is the magic *\/ */
		/* 	right: 10px; */
		/* 	text-align: center; */
		/* 	width: 100px; */
		/* 	z-index: 999; */
		/* } */

		#toTop:hover { @apply underline transition ease-in-out delay-150 }

		.example { @apply bg-gray-950 dark:bg-gray-950 border border-solid border-green-600 text-slate-200 }

		p.verse { @apply text-slate-400 italic }

		h2 { @apply border-t-4 border-solid border-gray-800 pt-2 mt-2}
		span.todo.TODO { @apply dark:border dark:border-red-700 shadow-sm text-sm dark:bg-red-600 text-red-600 dark:text-slate-200}
		span.todo.NEXT { @apply dark:border dark:border-pink-600 shadow-sm text-sm dark:bg-pink-500 text-pink-500 dark:text-slate-200 }
		span.todo.PROG { @apply dark:border dark:border-violet-700 shadow-sm text-sm dark:bg-violet-600 text-violet-600 dark:text-slate-200 }
		span.todo.PROJ { @apply dark:border dark:border-emerald-700 shadow-sm text-sm dark:bg-emerald-600 text-emerald-600 dark:text-slate-200 }
		span.todo.WAIT { @apply dark:border dark:border-yellow-600 shadow-sm text-sm dark:bg-yellow-500 text-yellow-500 dark:text-slate-200 }
		span.todo.HOLD { @apply dark:border dark:border-amber-600 shadow-sm text-sm dark:bg-amber-500 text-amber-500 dark:text-slate-200 }
		span.todo.IDEA { @apply dark:border dark:border-fuchsia-600 shadow-sm text-sm dark:bg-fuchsia-500 text-fuchsia-500 dark:text-slate-200 }
		span.done.DELEGATED { @apply dark:border dark:border-blue-500 shadow-sm text-sm dark:bg-blue-400 text-blue-400 dark:text-slate-200 }
		span.done.DONE { @apply dark:border dark:border-green-800 shadow-sm text-sm dark:bg-green-700 text-green-700 dark:text-slate-200 }
		span.done.KILL { @apply dark:border dark:border-green-500 shadow-sm text-sm dark:bg-green-400 text-green-400 dark:text-slate-200 }

		span.todo + code { @apply bg-white dark:bg-transparent text-sm dark:text-white shadow-sm }

		div.drawer.logbook { @apply block max-w-fit p-6 bg-gray-50 dark:from-slate-950 dark:to-fuchsia-600  border border-gray-200 rounded-lg shadow hover:bg-slate-300 dark:bg-slate-950 dark:border-gray-700 dark:hover:bg-gray-700 }
		div.drawer.logbook > h6 { @apply mb-2 font-serif text-2xl font-bold tracking-tight text-fuchsia-950 dark:text-white text-center }
		div.drawer.logbook ul { @apply dark:divide-gray-700 font-serif text-fuchsia-950 dark:text-white text-xs my-1 }
		.timestamp-wrapper { @apply bg-fuchsia-950 text-white text-xs font-medium mr-2 px-0.5 py-0.5 rounded dark:bg-slate-300 dark:text-fuchsia-950 }

		.hsExpanded.hsAnchor {background: #EE7700;}

		.buttons {
			padding: 0px 7px 13px 0px;
			/* background: #0A3F69; */
		}
			.hsButton { @apply bg-gray-950 hover:bg-gray-500 text-white text-xs font-medium mt-4 mr-2 px-2.5 py-0.5 rounded dark:bg-white dark:hover:bg-slate-200 dark:text-gray-950 float-right ml-2.5 bottom-0 right-0 hover:cursor-pointer }
		/* .hsButton { */
		/* 	color: white; */
		/* 	float: right; */
		/* 	font-size: 70%; */
		/* 	margin-left: 10px; */
		/* } */

		/* .hsButton:hover { */
		/* 	background: #FBE448; */
		/* 	color: black; */
		/* 	cursor: pointer; */
		/* } */

		.ellipsis {
			color: #999999;
			/* background-color: #FFF8C0; */
			/* float: right; */
			margin-left: 0.6em;
		}

		.hsReview {
			border: 1px solid #A4A4A4;
			background-color: white;
			z-index: 500; /* must be greater then z-index of hsOverlay */
			position: relative; /* required for z-index to work */
		}

		#hsOverlay {
			width: 100%;
			height: 100%;
			position: fixed;
			left: 0px;
			top: 0px;
			background-color: #000;
			opacity: .70;
			z-index: 250; /* must be greater than any other z-index (except the one for .hsReview */
		}

		.hsReviewPanel {
			background-color: #757176;
			color: white;
			line-height: 1.1em;
			margin: 10px 0px;
			padding: 10px;
			position: fixed;
			width: auto;
			bottom: 0px;
			right: 0px;
			z-index: 501;
			text-align: center;
		}

		.hsReviewPanel.hsReviewing {
			display: none;
		}

		.hsReviewPanel:hover {
			cursor: pointer;
		}

		.hsReviewingPanel {
			background-color: white;
			color: #757176;
			line-height: 1.1em;
			margin: 10px 0px;
			padding: 10px;
			position: fixed;
			width: auto;
			bottom: 0px;
			right: 0px;
			z-index: 501;
			text-align: center;
		}

		.hsReviewButton:hover {
			cursor: pointer;
		}

		.hsUnselectable {
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}

    #contacts { @apply container mx-auto}
    #contacts > ul#contact-list { @apply list-none flex flex-wrap mx-auto }
    #contacts > ul#contact-list > li { @apply pl-1.5 pr-1.5 }

	}
/* This is for the sake of Emacs. */
/* Local Variables: */
/* eval: (when (locate-library "rainbow-mode") (require 'rainbow-mode) (rainbow-mode)) */
/* End: */
